<sample-sample-nav></sample-sample-nav>
<!-- <sample-current-time></sample-current-time> -->
<!-- <div>
  <sample-lifecycle-hooks title="Lifecycle Hooks"></sample-lifecycle-hooks>
</div>
<div sampleAttributeDirective="sampleAttributeDirective input">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime quasi officia sint blanditiis impedit repellendus suscipit autem. Recusandae quas nulla tenetur placeat sapiente nihil aspernatur ea id, fugit aperiam.
</div> -->

<!-- <div *sampleStructuralDirective="times; let i = index">
  {{i}} - Structural directive template content
</div> -->
<div>
  {{todo$ | async | json}}
  <br>
  <button (click)="fetchTodo()">Fetch Todo</button>
</div>
<div>
  <sample-todo-list></sample-todo-list>
</div>
<sample-counter></sample-counter>

<div pzExportAs [attr.role]="tplvar.title" #tplvar="pzExportAs">
  {{tplvar.title}}
</div>

<ng-container
  *ngTemplateOutlet="theTemplate; context: { x: this.x, y: this.y, print: this.print}">
</ng-container>

<ng-container #theContainer></ng-container>

<ng-template #theTemplate let-x="x" let-y="y" let-print="print">
  <p>
    Point position: ( {{x}}, {{y}} ).
  </p>
  <button (click)="print()">Print Point</button>
</ng-template>
